<h1 class="topmargin10 secondfamily">Used Pixels (x,y)</h1>
<span class="containeruploadedimgs" *ngFor="let pixel of infoservice.pixels">
	<a [routerLink]="['/entry', pixel.x, pixel.y]">{{pixel.x}}/{{pixel.y}} </a> 
</span>
<h1 class="topmargin10 secondfamily">Pages</h1>
<div>
<span class="containerAllLinks" *ngFor="let numb of infoservice.allupixels">
	<a [routerLink]="['/show', numb]">{{numb}} </a> 
</span>
</div>