<div class="containerforwhitehere">
	<h1 class="topmargin10 secondfamily">About</h1>
	<h2 style="text-align:center;">100 Best Moments that will Receive most Likes from You will be Put on our website Famous page</h2>
	<h3 class="fontnormal">
		Moments. We all have those moments that we would like to remember ForEver.
	</h3>
	<h3 class="fontnormal">
		That is why this project was created. So that one million moments would be left here for us to remember.
	</h3>
	<div>
		<img src="/pixi/art/Screenshot_6.png" alt="" />
	</div>
	
	<h1>Idea Behind It</h1>
	<h3 class="fontnormal">There is no one place that would have 1 million moments. </h3>
	<h3 class="fontnormal">We wanted to create it - we created just 
	posibility for You to add Your Moment AND</h3>
	<h1>We would be Happy</h1> <p>to See how You Enjoy Your Live. So, Just Share Your Moment;)
	</p>
	<div>
		<img src="/pixi/art/Screenshot_4.png" alt="" />
	</div>	
	<h1>So Just Enjoy Your Life</h1>
	<div>
		<img src="/pixi/art/Screenshot_5.png" alt="">
	</div>
</div>
