<div class="containerforwhitehere">
	<h1 class="topmargin10 secondfamily">Description</h1>
	<h2 style="text-align:center;">You Can Draw Area of Pixels - Right Click Mouse and Move</h2>
	<h3 class="fontnormal">
		<div><img src="/pixi/rightclick.gif" alt=""/></div>
	</h3>
	<h2 style="text-align:center;">You Can Add Youtube Videos to Description</h2>
	<h3 class="fontnormal">
		<div><img src="/pixi/Screenshot_27.png" alt=""/></div>
		<div><img src="/pixi/Screenshot_28.png" alt=""/></div>
		<div><img src="/pixi/Screenshot_29.png" alt=""/></div>
	</h3>
	<h1 class="topmargin10 secondfamily">How it Would Look</h1>
	<h3 class="fontnormal">
		<div><img src="/pixi/video1.png" alt=""/></div>
		<div><img src="/pixi/video2.png" alt=""/></div>
		<div><img src="/pixi/video3.png" alt=""/></div>
	</h3>
</div>
