	<div class="containerforwhitehere">
		<h1 class="topmargin10 secondfamily">Hey, it is a pixels Moment</h1>
		<h3>Million best moments - <a [routerLink]="['/about']">About</a></h3>
		<div class="videocontainerer">
			<iframe width="560" height="410" src="https://www.youtube-nocookie.com/embed/DZlJpvln2mA?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	<h2 style="text-align:center;">100 Best Moments that will Receive most Likes from You will be Put on our website Famous page</h2>
		<div> 
			On the left Side - those Moments - every Moment - every Pixel. Want to see a Moment? Choose from the left side.
		</div>
	</div>