<div [hidden]="!showinfo">Thank You. You successfully payed! Not seeing changes? It may take some time: <a class="reloadbuttong" style="" onclick="location.reload();">Reload</a> </div>

<div [hidden]="!isempty" class="containerforwhitehere">
	<h1 class="topmargin10 secondfamily">This spot is EMPTY - {{x}}:{{y}}</h1>
	<h3>Add Your Moment Here!</h3>
	<div>
		<div>
			<div>Choose a color for YOUR pixel</div>
			<input type="color" [(ngModel)]="maincolor" name="color">
		</div>
		<div>
			<div>Title</div>
				<input class="inputwidest" type="text" value="" id="title" placeholder="My Best Moment">
		</div>
		<div>
			<div>Description <a target="_blank" [routerLink]="['/desc']">(?)</a></div>
			<textarea id="maintext"></textarea>
		</div>
		<div>
			<div>Upload Image (<a target="_blank" [routerLink]="['/desc']">Here is How to Upload Video And Draw Pixels Area</a>)</div>
			<input (change)="uploadInstantly($event)" class="buttonsimple buttonupload" id="sortpicture" type="file" name="sortpic" />
			<button style="display: none!important;" class="buttonsimple" id="upload">Upload</button>
			<div class="uploadingimage" [hidden]="!isimageloading">
			Uploading file ... This may take a while ...
				<div><img src="/pixi/loading.gif" alt="" /></div>
			</div>
			<div class="containeruploadedimgs" *ngFor="let item of mains">
				<div (click)="removeimage(item)" class="removeit buttonsimple">X</div>
				<img src="/pixi/{{item}}" alt="" />
			</div>
			<div class="containeruploadedimgserr" *ngFor="let item of mainserr">
				{{item.err}} - {{item.name}}
			</div>
		</div>
		<div>
			<div>It costs only 1 euro!</div>
			<button [hidden]="loadingadd" (click)="addMoment()" class="buttonsimple payforpixel">Add My Moment</button>
			<div [hidden]="!loadingadd">
				Loading ... 
			</div>
		</div>
	</div>
</div>
<div [hidden]="isempty" class="containerforwhitehere">
	<h1 class="topmargin10 secondfamily">{{title}} - {{x}}:{{y}}</h1>
	<div class="containerhtml">
		<div [innerHTML]="desc"></div>
	</div>
	<div class="topheregooothumbs"> 
	<div class="secondfamily thumbsupsize"><img class="thumbsupp" src="/pixi/thumbs.png" alt="" /> {{likes}}</div>
	<button [hidden]="!canaddlike" class="buttonsimple thumbsupsizebutton" (click)="likepix()" >Like <img class="thumbsupp" src="/pixi/thumbs.png" alt="" /></button>
	</div>
</div>