<div class="main">
	<div class="container">
		<div id="canvascontainer" class="canvascontainer mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="yx">
			<canvas id="myCanvas" width="1000" height="1000" style="">
			Your browser does not support the HTML5 canvas tag.
			</canvas>
		</div>
		<div class="textcontainer onlytextcontainer"> 
			<div class="innercontainer">
			<div style="display:none!important; "> 
				<button (click)="zoomin();" class="buttoncssherezzz">
					<img src="/pixi/zoomin.png" alt="" />
				</button> 
				<button (click)="zoomout();" class="buttoncssherezzz">
					<img src="/pixi/zoomout.png" alt="" />
				</button>
			</div>
			<div class="millionhowempty">
				&#8630; {{emptpixels}}/1000000 is still empty;)
			</div>
			<div style="display:inline-block; " [style.visibility]="x == -1 && y == -1 ? 'hidden' : 'visible'">
				{{x}}:{{y}} {{exist}}
			</div>
			
				<div [hidden]="show">
					<router-outlet></router-outlet>
				</div>
				<div [hidden]="!show" class="containerforwhitehere">
					<h1 class="topmargin10 secondfamily">You drew an area (x, y, w, h) - {{drawingArea.startX}}:{{drawingArea.startY}} ({{drawingArea.w}}:{{drawingArea.h}})</h1>
					<div id="containerformaincanvas" [style.backgroundColor]="maincolor" [style.height]="drawingArea.h+'px'" [style.width]="drawingArea.w+'px'" style="overflow:hidden;">
						<canvas id="drawingareahereuser" [style.backgroundColor]="maincolor">
						Your browser does not support the HTML5 canvas tag.
						</canvas>
					</div>
					<h3>Add Your Moment Here!</h3>
					<div>
						<div>
							<div>Choose a color for YOUR pixel</div>
							<input type="color" [(ngModel)]="maincolor" name="color">
							<div [hidden]="mains.length == 0" (click)="usemaincolorr()" class="buttonsimple removeit useitimg usecolorther">Use</div> 
						</div>
						<div>
							<div>Title</div>
							<input class="inputwidest" type="text" value="" id="title2" placeholder="My Best Moment">
						</div>
						<div>
							<div>Description <a target="_blank" [routerLink]="['/desc']">(?)</a></div>
							<textarea id="maintext2"></textarea>
						</div>
						<div>
							<div>Upload Image (<a target="_blank" [routerLink]="['/desc']">Here is How to Upload Video</a>)</div>
							<input (change)="uploadInstantly2($event)" class="buttonsimple buttonupload" id="sortpicture2" type="file" name="sortpic" />
							<button style="display: none!important;" class="buttonsimple" id="upload2">Upload</button>
							<div class="uploadingimage" [hidden]="!isimageloading">
								Uploading file ... This may take a while ...
								<div><img src="/pixi/loading.gif" alt="" /></div>
							</div>
							<div class="containeruploadedimgs" *ngFor="let item of mains">
								<div (click)="addImageToContainer(item)" class="buttonsimple removeit useitimg">Use</div> 
								<div (click)="removeimage(item)" class="buttonsimple removeit">X</div>
								<img src="/pixi/{{item}}" alt="" />
							</div>
							<div class="containeruploadedimgserr" *ngFor="let item of mainserr">
								{{item.err}} - {{item.name}}
							</div>
						</div>
						<div>
							<div [hidden]="wouldcost == drawingArea.w*drawingArea.h">
								Not all pixels would be used - some are already taken
							</div>
							<div>It would cost {{wouldcost}} euros!</div>
							<button [hidden]="loadingadd" (click)="addMoment()" class="buttonsimple payforpixel">Add My Moment</button>
							<div [hidden]="!loadingadd">
								Loading ...
							</div>
						</div>
					</div>
				</div>
				
				<div class="top-right-info containerforwhitehere">
					<a [routerLink]="['/']">Main</a> -
					<a [routerLink]="['/about']">About</a> -
					<a [routerLink]="['/terms-and-conditions']">Terms And Conditions</a> -
					<a [routerLink]="['/privacy-policy']">Privacy Policy</a> - 
					<a [routerLink]="['/show']">Used Pixels</a> - 
					<a target="_blank" href="https://waymanage.com">WayManage Studio - Want Your Own?</a>
					Have Question? Write to us: <b><a href="mail:mmntsbest@gmail.com">mmntsbest@gmail.com</a></b>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div id="my-image" style="display:none;"></div>

<div [hidden]="isConsented" class="cookies_go_here">This website uses cookies to improve your experience. We'll assume you are ok with this, but you can opt-out if you wish. 
	<button (click)="consent(isConsented, $event)" class="buttonsimple">Accept</button>
</div>