/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&display=swap');

html,body {
	margin: 0px!important;
	padding: 0px!important;
	font-weight:100!important;
	overflow: hidden;
}
html, body, button{
	font-family: 'Cinzel', sans-serif;
}
iframe{
	width: 100%!important;
	max-width: 100%;
}
textarea, .containerhtml{
	font-family: Arial;
}

a{
	color: #ff93a7;
	text-decoration: none;
	font-weight: bold;
}

.secondfamily, input{
	font-family: 'Great Vibes', cursive;
}

.videocontainerer{
	margin-top: 25px;
	margin-bottom: 25px;
}

body{
	margin-left: 0px!important;
}
h1{
	font-weight: 200!important;
	font-size: 40px;
}

@media only screen and (max-width: 500px) {
h1{
	font-size: 30px;
}
}

h3{
	margin-top: 10px;
	margin-bottom: 10px;	
}
.fontnormal {
	font-weight: normal!important;
}

div, span{
	font-weight: 400!important;	
}
.canvascontainer, .textcontainer{
	width: 50%;
	height: 99vh;
	overflow-y: auto;
	display:inline-block;
	
}
.textcontainer .innercontainer{
	padding: 10px;
}
.videoonly{
	min-height: 100vh;
    min-width: 177.78vh;
}
.videocontainer{
	overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
	height: 100%;
}
.onlytextcontainer{
	position: relative;
	background-image: url("/pixi/bmw6.jpg");
	background-size: cover;
}
.topmargin10{
	margin-top:5px;
	margin-bottom: 5px;
}
.cookies_go_here{
	position:fixed;
	bottom: 0px;
	left:0px;
	width: 100%;
	border: 1px solid #ccc;
    text-align: center;
    background: white;
    font-size: 20px;
	padding: 10px;
	z-index: 9;
}
.containerforwhitehere{
    background: rgba(255,255,255,0.95);
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	width: calc(100% - 20px);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.mCSB_container_wrapper{
    margin-right: 18px!important;
    margin-bottom: 18px!important;
}
.mCSB_container_wrapper > .mCSB_container{
    padding-right: 18px!important;
    padding-bottom: 18px!important;
	width: 1018px!important;
}
.buttoncssherezzz{
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
.buttoncssherezzz img{
	width: 20px;
	height: 20px;
}

.containeruploadedimgs{
	position: relative;
}
.containeruploadedimgserr{
	width: 350px;
	padding: 10px;
	border: 1px solid red;
	background: #ff93a7;
	display: inline-block;
	margin: 10px;
    font-size: 10px;
}
.containeruploadedimgs img, .containeruploadedimgserr img{
	max-width: 250px;
	max-height: 250px;
}
.buttonsimple{
	cursor: pointer;
    background: #f7659a;
    padding: 5px;
    color: white;
    font-size: 14px;
	outline: none;
	border:none;
}
.removeit{
	position: absolute;
	top: 0px;
	left: 0px;
}
.useitimg{
	    left: 20px;
}
.containerhtml img{
	max-width: 100%;
}

.usecolorther{
    position: relative;
    left: 10px;
    top: -2px;
    display: inline-block;
    padding: 4px;
}
.buttonupload{
	background:none;
	color: #f7659a;
}

.inputwidest{
    width: 100%;
    font-size: 20px;
	color: #f7659a;
	font-weight: bold;
}
div[hidden]{
	display: none!important;
}

.containerhtml iframe{
	width: 100%!important;
}

.reloadbuttong{
	font-weight:bold; cursor:pointer; color: #f7659a;
}

.millionhowempty{
	display:inline-block;
	padding-right: 5px;
	
}

.containerforwhitehere img{
	max-width: 100%;
}
.top-right-info a{
	font-size:15px;
	padding-right:4px;
}
.thumbsupp{
	max-width: 25px;
	height: 25px;
	position:relative;
	top:4px;
}
.thumbsupsizebutton{
	font-size:17px;
	vertical-align: middle;
	line-height: 35px;
}
.thumbsupsize{
	font-size: 23px;
	display:inline-block;
	margin-right: 20px;
}
.topheregooothumbs{
	margin-top:20px;
}
.uploadingimage img{
	max-height: 50px;
}